.big{
    background-color: green;
    height: 300px;
    width: 300px;
}
.middle{
    background-color: yellow;
    height: 200px;
    width: 200px;
}
.small{
    background-color: red;
    height: 100px;
    width: 100px;
}